{% extends "base.html" %}
{% block content %}
<br>
<p>
My job is to create software (and have a lot of fun while doing it). 
</p>

<p>
I have both the required depth and breadth of experience having contributed in various areas
of software development and diverse technologies such as mainframes, embedded systems, PC applications, and web applications. I
believe in the fact that knowledge has no barriers and am skilled in adapting quickly and deliver under any circumstances. 
</p>

<p>
I believe programming is an art and a way of life. 
I am programming language/ platform agnostic. I dont see what I do as a bunch of programming languages and platforms. 
They are problems, which can be solved elegantly and beautifully. 
I see them as pieces of logic, woven together, coming together for the sole purpose of helping humans to do what they do, better. 
There are times, when I become one with the machine.
</p>

<p>
And, I <em>Love</em> <a href='http://www.python.org' target='_blank'>Python!</a>
</p>

<p>
My LinkedIn <a href='http://in.linkedin.com/in/harishvishwanath' target="_blank">profile</a>
<br>
My <a href='/downloads/hvishwanath-cv.pdf'>resume.</a>
</p>
{% endblock %}