{% extends "base.html" %}
{% block content %}
    <h2>Who are you?</h2>
    <p>
	      A dreamer. An explorer. And a happy programmer.
	      <br>
	      I am but a force, a ball of energy; Here, by chance. 
	      My spirit is free, and each and every moment of time that passes by, I work towards being free. 
	      I am a product of this earth, and everything in the universe and back there I go, when my time comes.
    </p>
    <h2>What is your philosophy?</h2>
    <p>
		I believe in love, life, courage and myself. 
		For me, life is a ticket to watch the greatest show on earth. 
		And I enjoy the show (mostly). Most of the times, life is black and white to me, unlike different shades of gray that it appears to be. 
		Pleasure or pain, success or failure doesn't matter to me. 
		Because I neither see them as good or bad. 
		They all merge into what is called the present eventually, and anything in the present is, well - just in the present. 
		For me, no matter what -  "Life is Beautiful!" - always, as it is intended to be, as it is, and as it will be. 
		I have my dark moments at times, but eventually I succeed in being me.    	
    </p>

    <h2>What is <em>'Your'</em> thing?</h2>
    <p>
	    Learning, discovering and exploring new things gives me the greatest pleasure. I love to take a problem and solve it in my own way.
	    <br>
	    I am interested in almost everything, but there are a few things that I like to keep doing.
	    <br>
	    I can scale up and scale down, excel operating at 'big picture' level and relish getting down to finer details. 
    </p>

    <h2>What is <em>'Not Your'</em> thing?</h2>
    <p>
	    I am a perfectionist (not to the extent of a maniac) and hate to see mediocrity. 
	    <br>
	    And oh, I hate 'shopping' in the conventional sense of the word.
    </p>

    <h2>What do you do?</h2>
    <p>
	    I love computers and am useful with most of the things related to computers. I solve (sometimes create) problems by writing software for business, pleasure and for no reason. 
    </p>

    <h2>If not a programmer, what would you have liked to do?</h2>
    <p>
		I would have become a librarian. Imagine being with books all the time, soaking in all the knowledge of the world, in an enlightening silence! Awesomeness.
    </p>

    <h2>What is your one final wish?</h2>
    <p>
		I want to <a href='/images/earth_from_space.jpg' target='_blank' title='Watch Earth from Space'>watch earth from space.</a>That's a trip I wouldn't mind returning from!
    </p>

{% endblock %}