{% extends "base.html" %}
{% block content %}

      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 98px;
          height: 160px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1371725885">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <h2>
      <a href="http://www.goodreads.com/review/list/20148106-harish-vishwanath?shelf=favourites&utm_medium=api&utm_source=grid_widget" style="text-decoration: none;">Harish's favourites books</a>
    </h2>
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/2122.The_Fountainhead" title="The Fountainhead"><img alt="The Fountainhead" border="0" src="http://d.gr-assets.com/books/1344618350m/2122.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/1270698.Light_From_Many_Lamps" title="Light From Many Lamps"><img alt="Light From Many Lamps" border="0" src="http://d.gr-assets.com/books/1347739312m/1270698.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/188572.The_Complete_Sherlock_Holmes" title="The Complete Sherlock Holmes"><img alt="The Complete Sherlock Holmes" border="0" src="http://d.gr-assets.com/books/1348815538m/188572.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/334849.A_Geography_of_Time" title="A Geography of Time: The Temporal Misadventures of a Social Psychologist, or How Every Culture Keeps Time Just a Little Bit Differently"><img alt="A Geography of Time: The Temporal Misadventures of a Social Psychologist, or How Every Culture Keeps Time Just a Little Bit Differently" border="0" src="http://d.gr-assets.com/books/1348532176m/334849.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/4894.Who_Moved_My_Cheese" title="Who Moved My Cheese"><img alt="Who Moved My Cheese" border="0" src="http://d.gr-assets.com/books/1348052762m/4894.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/1013145.An_Ocean_Of_Air" title="An Ocean Of Air: A Natural History Of The Atmosphere"><img alt="An Ocean Of Air: A Natural History Of The Atmosphere" border="0" src="http://d.gr-assets.com/books/1356130470m/1013145.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/71728.Jonathan_Livingston_Seagull" title="Jonathan Livingston Seagull"><img alt="Jonathan Livingston Seagull" border="0" src="http://d.gr-assets.com/books/1348941691m/71728.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/55030.Cosmos" title="Cosmos"><img alt="Cosmos" border="0" src="http://d.gr-assets.com/books/1308955546m/55030.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/43877.The_Monk_Who_Sold_His_Ferrari" title="The Monk Who Sold His Ferrari: A Fable About Fulfilling Your Dreams & Reaching Your Destiny"><img alt="The Monk Who Sold His Ferrari: A Fable About Fulfilling Your Dreams & Reaching Your Destiny" border="0" src="http://d.gr-assets.com/books/1348383805m/43877.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/2657.To_Kill_a_Mockingbird" title="To Kill a Mockingbird"><img alt="To Kill a Mockingbird" border="0" src="http://d.gr-assets.com/books/1361975680m/2657.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/13.The_Ultimate_Hitchhiker_s_Guide_to_the_Galaxy" title="The Ultimate Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1-5)"><img alt="The Ultimate Hitchhiker's Guide to the Galaxy" border="0" src="http://d.gr-assets.com/books/1320523301m/13.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/1172256.The_Complete_Works_Of_Swami_Vivekananda" title="The Complete Works Of Swami Vivekananda: V. 1"><img alt="The Complete Works Of Swami Vivekananda: V. 1" border="0" src="http://d.gr-assets.com/books/1266735801m/1172256.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/147646.Jurassic_Park_and_Congo" title="Jurassic Park and Congo"><img alt="Jurassic Park and Congo" border="0" src="http://d.gr-assets.com/books/1362588195m/147646.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/5544.Surely_You_re_Joking_Mr_Feynman_" title="Surely You're Joking, Mr. Feynman!"><img alt="Surely You're Joking, Mr. Feynman!" border="0" src="http://d.gr-assets.com/books/1348445281m/5544.jpg" /></a></div>
    <div class="gr_grid_book_container"><a href="http://www.goodreads.com/book/show/16752.Jurassic_World" title="Jurassic World: Jurassic Park / The Lost World"><img alt="Jurassic World: Jurassic Park / The Lost World" border="0" src="http://d.gr-assets.com/books/1166744455m/16752.jpg" /></a></div>
    <br style="clear: both"/><br/><a href="http://www.goodreads.com/user/show/20148106-harish-vishwanath" class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both">Harish Vishwanath's favorite books »</a>
  <noscript><br/>Share <a href="/">book reviews</a> and ratings with Harish, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="http://www.goodreads.com/review/grid_widget/20148106.Harish's%20favourites%20books?cover_size=medium&hide_link=&hide_title=&num_books=200&order=d&shelf=favourites&sort=rating&widget_id=1371725885" type="text/javascript" charset="utf-8"></script>


{% endblock %}